<!-- <p>footer works!</p> -->

<div class="container-fluid ">

<div class="row text-center ">
<div class="container-fluid py-2 " style=" background-color: #304053; "><a href="#" class=" text-light text-decoration-none">Back To Top</a></div>
</div>
<div class="row  d-flex justify-content-center text-center py-5" style=" background-color: #232F3E; ">
  <!-- <div class="col-lg-2 "></div> -->
  <div class="col-12 col-lg-2 col-sm-3  ">
      <h5 class="text-light mt-3 mt-sm-0">Get to Know Us</h5>
      <a href="#" class=" text-light text-decoration-none fs-6">About Amazon</a><br>
      <a href="#" class=" text-light text-decoration-none fs-6">Careers</a><br>
      <a href="#" class="text-light text-decoration-none fs-6">Amazon Sciencs</a><br>
  </div>
  <hr class="text-light mt-3 mt-sm-0 d-sm-none">
  <div class="col-12 col-lg-2 col-sm-3  ">
    <h5 class="text-light ">Shop With Us</h5>
      <a href="#" class="text-light text-decoration-none">Your Account</a><br>
      <a href="#" class="text-light text-decoration-none">Your Orders</a><br>
      <a href="#" class="text-light text-decoration-none">Your Addresses</a><br>
      <a href="#" class="text-light text-decoration-none">Your Lists</a><br>
  </div>
  <hr class="text-light mt-3 mt-sm-0 d-sm-none">

  <div class="col-12 col-lg-2 col-sm-3  ">
      <h5 class="text-light ">Make Money with Us</h5>
      <a href="#" class="text-light text-decoration-none">Protect and build your brand</a><br>
      <a href="#" class="text-light  text-decoration-none">Advertise Your Products</a><br>
      <a href="#" class="text-light text-decoration-none">Sell on Amazon</a><br>
      <a href="#" class="text-light text-decoration-none">Fulfillment by Amazon</a><br>
  </div>
  <hr class="text-light mt-3 mt-sm-0 d-sm-none">

  <div class="col-12 col-lg-2 col-sm-3  ">
    <h5 class="text-light ">Let Us Help You</h5>
    <a href="#" class="text-light text-decoration-none">Help</a><br>
    <a href="#" class="text-light text-decoration-none">Shipping & Delivery</a><br>
    <a href="#" class="text-light text-decoration-none">Returns & Replacements</a><br>
    <a href="#" class="text-light text-decoration-none">Amazon App Download</a><br>
  </div>
  <!-- <div class="col-lg-2 "></div> -->

</div>
<div class="row  d-flex justify-content-center py-1" style=" background-color: #232F3E; ">
<hr class="text-light">
</div>
<div class="row  d-flex  justify-content-center py-3" style=" background-color: #232F3E; ">
<div class=" d-flex  justify-content-center w-50 ">
<img src="assets/amazon-logo.png" class="  " width="100vh" alt="" srcset="">
</div></div>
<div class="row  d-flex justify-content-center py-5 px-5 " style=" background-color: #18222e; ">

  <a class=" col-6 col-lg-2 mx-auto text-light text-decoration-none ">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-6  col-lg-2  mx-auto text-light text-decoration-none ">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-6 mt-3 mt-lg-0 mx-auto text-light text-decoration-none ">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-6 mt-3 mt-lg-0 mx-auto text-light text-decoration-none ">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
  <a class="col-lg-2 col-6 d-none  mx-auto  text-light text-decoration-none ">
    <span href="#" class="">Amazon Advertising</span><br>
    <span href="#" class="">Find, attract, and engage customers</span><br>

  </a>
</div>


  <div class="row text-decoration-none d-flex justify-content-center text-light px-5 pb-5 " style=" background-color: #18222e; ">
  <div class="col d-none d-sm-flex justify-content-center"><a  >Conditions of Use & Sale</a>&nbsp;&nbsp;&nbsp;&nbsp;<a >Privacy Notice</a>&nbsp;&nbsp;&nbsp;&nbsp; <a >Interest-Based Ads</a> </div>
  <span class=" d-flex justify-content-center">©1996-2023, Amazon.com, Inc. or its affiliates</span>
  </div>





  </div>
